%section.image-head-wrapper{style: "background-image: url('#{image_path('banner5.jpg')}');"}
  .inner-wrapper
    %h1 News
.clearfix
%section.resort-overview-block
  .container
    .row
      .col-md-6.col-sm-12.col-xs-12.remove-padd-right
        .side-A
          .product-thumb
            .image
              %a{href: "single-blog.html"}
                = image_tag("category1.png", class: "img-responsive", alt: "image")
        .side-B
          .product-desc-side
            %h3
              %a{href: "single-blog.html"} luxury spa
            %p Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.
            .links
              %a{href: "single-blog.html"} Read more
      .clear
      .col-md-6.col-sm-12.col-xs-12.remove-padd-left
        .side-A
          .product-thumb
            .image
              %a{href: "single-blog.html"}
                = image_tag("category2.png", class: "img-responsive", alt: "image")
        .side-B
          .product-desc-side
            %h3
              %a{href: "single-blog.html"} Beatusish ingl
            %p Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.
            .links
              %a{href: "single-blog.html"} Read more
      .clear
      .col-md-12.offspace-45
      .col-md-6.col-sm-12.col-xs-12.remove-padd-right
        .side-A
          .product-desc-side
            %h3
              %a{href: "single-blog.html"} luxury room
            %p Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.
            .links
              %a{href: "single-blog.html"} Read more
        .side-B
          .product-thumb
            .image.txt-rgt
              %a.arrow-left{href: "single-blog.html"}
                = image_tag("category3.png", class: "img-responsive", alt: "image")
      .clear
      .col-md-6.col-sm-12.col-xs-12.remove-padd-left
        .side-A
          .product-desc-side
            %h3
              %a{href: "single-blog.html"} heaven seanery
            %p Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem nulla, ornare eu felis luctus non maximus vitae, portt neque. ipsum dolor sit amet, consec adipiscing elit.
            .links
              %a{href: "single-blog.html"} Read more
        .side-B
          .product-thumb.txt-rgt
            .image
              %a.arrow-left{href: "single-blog.html"}
                = image_tag("category4.png", class: "img-responsive", alt: "image")
      .clearfix